__pycache__/
configs/*_older.yaml

data_train/**
!data_train/archived/
!data_train/archived/** 

models/**
!models/archived/
!models/archived/**

perturbed_results/**
!perturbed_results/archived/
!perturbed_results/archived/**

runs/**




